@charset "utf-8";

.wp-biographia-postbox-settings {
	width: 60%;
	padding: 0 0 0 0;
}

.wp-biographia-postbox-sidebar {
	width: 30%;
	padding: 0 0 0 10px;
}

.wp-biographia-postbox-sidebar ul {
	list-style: square;
	padding: 0 0 0 1em;
}

.wp-biographia-success {
	border: 1px solid #8ACEFF;
	padding: 3px 15px 4px 27px;
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #E2F5FE url(../images/success.png) no-repeat 5px center;
}

.wp-biographia-warning {
	border: 1px solid #F8C44F;
	padding: 3px 15px 4px 27px;
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #FEE8B9 url(../images/warning.png) no-repeat 5px center;
}

.wp-biographia-error {
	border: 1px solid #F96764;
	padding: 3px 15px 4px 27px;
	display: block;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #FCB2B5 url(../images/error.png) no-repeat 5px center;
}

.wp-biographia-user-profiles,
.wp-biographia-user-roles,
.wp-biographia-categories,
.wp-biographia-users {
	float: left;
	text-align: center;
	margin: 10px;
}

.wp-biographia-user-profiles a,
.wp-biographia-user-roles a,
.wp-biographia-categories a,
.wp-biographia-users a {
	display: block;
	border: 1px solid #AAAAAA;
	text-decoration: none;
	background-color: #FAFAFA;
	color: #000000;
	margin: 2px;
	/*clear: both;*/
}

#wp-biographia-visible-profiles,
#wp-biographia-hidden-profiles,
#wp-biographia-enabled-user-roles,
#wp-biographia-excluded-user-roles,
#wp-biographia-enabled-post-users,
#wp-biographia-suppressed-post-users, 
#wp-biographia-enabled-page-users,
#wp-biographia-suppressed-page-users,
#wp-biographia-enabled-categories,
#wp-biographia-excluded-categories {
	width: 200px;
	height: 100px;
}

.wp-biographia-exclusions-input {
	width: 400px;
}
